$color-fg: #d6d6d6;

$color-black: #2d2d2d;
$color-dark: #404040;
$color-bold: #84f89b;
$color-title: #f7e2a2;
$color-btn: #77ffdb;
$color-text: #a0ffe6;
$color-size: #71aaff;
$color-watermark-border: #db5d5d;

$color-uploader-bg: #5a5a5a;

$color-hover: #4e4e4e;
$color-input-hover: #8b9bab40;

$section-max-width: 123rem;
